
/*Group search*/

.cleanInput {
  outline: none;
  border: none;
}

:focus {
  outline: none;
}

a {
  color:inherit;
  text-decoration: none;
}

div.smallDate {
  display: table;
  padding: 5px;
  width: 100%;
  border-spacing: 10px 0;
}

div.smallDate span {
  font-size: 12px;
  /*margin-left: 5px;*/
  /*margin-right: 5px;*/
  /*align-content: center;*/
  display: table-cell;
  padding-left: 5px;
  padding-right: 5px;
}

ul.centeredText > li {
  margin: 0;
  padding: 0;
}

ul.centeredText > li > {
  margin: 0;
  padding: 0;
}

/*ul.centeredText > li > :first-child {*/
  /*padding: 10px 15px;*/
  /*margin-bottom: -1px;*/
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  /*display: table;*/
  /*text-align: center;*/
/*}*/

.groups {
  border: 0;
  margin: 5px;
  height: 20px;
}

.clear {
  margin: 0;
  padding: 0;
}

div.group-container {
  white-space: nowrap;
  border: 0;
}

div.group-container .static {
  float: left;
  position: relative;
  height: 55px;
  width: 30px;
  background-color: #f5f5f5;
  border-color: #ddd;
  font-size: 25px;
  text-align: center;
  vertical-align: middle;

  padding-top: 5px;

}

div.group-container .scrollable {
  text-align: center;
  overflow-y: hidden;
  overflow-x: auto;
  margin-bottom: -10px;
}
div.group-container .scrollable span {
  height: 55px;
  width: 90px;
  display: inline-block;
  padding-top: 10px;
  background: #eeece6;

  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;

  margin-bottom: 10px;
}

div.clear-group {
  background: #ffffff;
  height: 10px;
  position: relative;
}

.panel-body {
  padding: 15px 15px 0 15px;
}



/*GROUP SEARCH */

.header-back {
  height: 26px;
  margin-left: 5px;
}

div.month {
  /* Задаем размеры будущего прямоугольника с закругленными углами */
  width: 95px;
  height: 25px;


  /* Делаем наконец-таки круглые углы */
  -moz-border-radius:    5px;
  -webkit-border-radius: 5px;
  border-radius:         5px;

  /* Настраиваем отображение текста */
  /*padding: 7px 0 0;*/
  text-align: center;
  text-transform: uppercase;
  font-family: Verdana, Arial, Helvetica, Sans-serif;
  font-size: 11px;
  font-weight: bolder;
  color: #000;

  background-color: #f5f5f5;
  border-color: #ddd;

  /* Выставляем «position» так, чтобы другие блоки нас не беспокоили */
  /*position: relative;*/
  /*float: left;*/
  position: fixed;
  margin-left: 0;
}

div.classroom {
  width: 75px;
  height: 25px;
  /*float: right;*/
  background-color: #f5f5f5;
  border-color: #ddd;

  /*margin: auto;*/
  margin-right: 0;

  /*padding: 7px 0 0;*/
  text-align: center;
  text-transform: uppercase;
  font-family: Verdana, Arial, Helvetica, Sans-serif;
  font-size: 11px;
  font-weight: bolder;
  color: #000;

  -moz-border-radius:    5px;
  -webkit-border-radius: 5px;
  border-radius:         5px;
}

.class-short-name {
  /*padding: 7px 0 0;*/
  text-align: center;
  text-transform: uppercase;
  font-family: Verdana, Arial, Helvetica, Sans-serif;
  font-size: 18px;
  font-weight: bolder;
  color: #000;

  margin: 0 auto;
}
