<nav class="navbar navbar-default navbar-static-top" role="navigation">

  <div class="header-back" ng-click="back()">
    Back
  </div>


  <div class="smallDate">
    <span>среда</span><span>|</span><span>26 ноября</span><span>|</span><span>13 неделя</span>
  </div>
</nav>


<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      Понедельник
    </div>
    <div class=" clear">
      <div>
        <div class="month">
          9.00 - 10.45
        </div>

        <div class="class-short-name">РПДУ</div>

        <div class="classroom">ауд 415</div>

      </div>
      <div>Радиопередающие устройства</div>
      <div>Коганер С.А</div>

      <br>
      <br>
      <br>
      <br>
      <br>
      <hr>
    </div>
  </div>
</div>
