<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="input-group">
    <div class="input-group-btn">
      <button type="button" class="cleanInput btn btn-default dropdown-toggle" data-toggle="dropdown"
              aria-expanded="false">Поиск
        <span class="caret"></span></button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">Номер группы</a></li>
        <li><a href="#">Аудитория</a></li>
        <li><a href="#">Фамилия преподавателя</a></li>
        <li class="divider"></li>
        <li><a href="#">Separated link</a></li>
      </ul>
    </div>
    <input type="text" class="cleanInput form-control" placeholder="по номеру группы">
  </div>
  <div class="smallDate">
    <span>среда</span><span>|</span><span>26 ноября</span><span>|</span><span>13 неделя</span>
  </div>
</nav>

<div class="container">

  <div class="panel panel-default">
    <div class="panel-heading">Факультет радиотехнологий связи</div>
    <div style="display: none" class="panel-body">
      ранее РС,ТВиМТ + ТСС
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      Факультет инфокоммуникационных сетей и систем (ИКСС)
    </div>
    <div class="panel-body">
      <ul class="list-group centeredText">
        <li class="list-group-item">
          <div class="group-container">
            <div class="static">
              <!--<span>-->
                &#8544;
              <!--</span>-->
            </div>
            <div class="scrollable">
              <span>Группа 61</span>
              <span>Группа 62</span>
              <span>Группа 63</span>
              <span>Группа 62</span>
              <span>Группа 63</span>
            </div>
          </div>
        </li>
        <li class="list-group-item">

          <!--<hr class="clear">-->
          <div class="group-container">
            <div class="static">
              <span>&#8545;</span>
            </div>
            <div class="scrollable">
              <span>Группа 61</span>
              <span>Группа 62</span>
              <span>Группа 63</span>
              <span>Группа 62</span>
              <span>Группа 63</span>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="group-container">
            <div class="static">
              <span>&#8546;</span>
            </div>
            <div class="scrollable">
              <span>Группа 61</span>
              <span>Группа 62</span>
              <span>Группа 63</span>
              <span>Группа 62</span>
              <span>Группа 63</span>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="group-container">
            <div class="static">
              <span>&#8547;</span>
            </div>
            <div class="scrollable">
              <span>Группа 61</span>
              <span>Группа 62</span>
              <span>Группа 63</span>
              <span>Группа 62</span>
              <span>Группа 63</span>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="group-container">
            <div class="static">
              <span>&#8548;</span>
            </div>
            <div class="scrollable">
              <span>Группа 61</span>
              <span>Группа 62</span>
              <span>Группа 63</span>
              <span>Группа 62</span>
              <span>Группа 63</span>
            </div>
            <div class="clear-group"></div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      Факультет информационных систем и технологий (ИС и Т)
    </div>
    <div style="display: none;" class="panel-body">
    </div>
  </div>
</div>
